<div class ="show">
  <div class="show-title">
    <%= @blog.title %>
  </div>
  <div class="show-text">
  <%= simple_format(@blog.text) %>
  </div>
    <% if user_signed_in? %>
      <ul class="show-list">
        <li class="show-list-btn">
          <%= link_to '編集', "/blogs/#{@blog.id}/edit", method: :get %>
        </li>
        <li class="show-list-btn">
          <%= link_to '削除', "/blogs/#{@blog.id}", method: :delete %>
        </li>
      </ul>
    <% end %>
</div>
